@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    cursor: url('faklya.png') 16 16, url('faklya.cur'), auto; 
    }

a, button {
    cursor: url('faklya.png') 16 16, url('faklya.cur'), pointer; 
}

.fejlec {
    background-color: #294b02;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    
    display: flex;
    flex-wrap: wrap; 
    align-items: center; 
    gap: 10px; 
    padding: 10px;
}

.fejlec img {
    width: 120px; 
    height: auto;
}

h1 {
    flex-grow: 1; 
    text-align: center;
    color: #d6d306;
    font-size: 2.2em; 
    margin: 0; 
    padding: 10px;
}

body > a[target="_blank"] {
    display: block; 
    text-align: center;
    padding: 10px;
    background-color: #4CAF50; 
    color: white;
    text-decoration: none;
}

h2 {
    background-color: #bbbbbb;
    color: #ffffff; 
    padding: 5px 10px;
}

.hirblokk img {
    float: left;
    padding: 0 20px 20px 0;
    max-width: 100%; 
    height: auto;
}

.hirblokk::after {
    content: "";
    clear: both;
    display: table;
}

.click-dot {
    position: absolute;
    width: 20px; 
    height: 20px;
    background-color: red;
    border-radius: 50%; 
    opacity: 0; 
    transform: scale(0); 
    transition: all 0.2s ease-out; 
    pointer-events: none; 
    z-index: 9999; 
}

.click-dot.active {
    opacity: 1; 
    transform: scale(1); 
    transition: all 0.1s ease-out; 
}

@media (max-width: 768px) {
    
    .fejlec {
        flex-direction: column;
        text-align: center;
    }

    .fejlec img {
        width: 100px;
        margin-bottom: 5px;
    }

    h1 {
        font-size: 1.8em;
    }
    
    .hirblokk img {
        float: none; 
        display: block; 
        margin: 0 auto 10px auto; 
        width: 80%; 
    }
}

#zene {
    display: none;
}
